/* media query min-width:1920px */
@media(min-width:1920px){
    .navbar-brand {
        width: 190px;
    }
    .nav-link {
        font-size: 16px;
    }
    .navbar-toggler-i {
        font-size: 34px;
    }
    .heading h1 {
        font-size: 41px;
    }
    .heading p {
        font-size: 15px;
        margin: 22px 0 60px;
    }
    .hero_section {
        padding: 56px 0 60px;
    }
    .hero_second_row {
        margin: 164px 0 0;
    }
    .hero_imgbox {
        width: 100%;
    }
    .img_height {
        width: 90%;
    }
    .hero_bg {
        bottom: 13%;
    }
    .blog_section h1 {
        font-size: 41px;
    }
    .blog_section p {
        font-size: 15px;
        margin: 34px 0 40px;
    }
    .blog_imgbox {
        top: 8%;
    }
    .blog_section {
        padding: 170px 0 170px;
    }
    .feature_section h1 {
        font-size: 41px;
        margin: 0 0 110px;
    }
    .feature_box h4 {
        font-size: 21px;
    }
    .feature_box p {
        font-size: 15px;
    }
    .playlist_section h2 {
        font-size: 34px;
    }
    .playlist_section p {
        font-size: 15px;
    }
    .playlist_power {
        width: 40px;
        height: 40px;
    }
    .playlist_imgbox {
        bottom: 13%;
    }
    .playlist_section {
        padding: 208px 0 345px;
    }
    .artist_section p {
        font-size: 21px;
        margin: 0 0 50px;
        line-height: 38px;
        padding: 0 250px;
    }
    .artist_imgbox {
        width: 34px;
        height: 34px;
    }
    .artist_wrapper p {
        padding: 0 !important;
        margin: 0 0 0 16px !important;
        font-size: 15px;
    }
    .artist_section {
        padding: 148px 0 118px;
    }
    .discover_section {
        padding: 114px 0 110px;
    }
    .discover_section h2 {
        font-size: 34px;
    }
    .discover_section p {
        font-size: 15px;
        line-height: 34px;
        margin: 32px 0 170px;
        padding: 0 35px;
    }
    .discover_center_image {
        bottom: 20.8%;
        width: 295px;
    }
    .discover_imgbox1 {
        width: 46%;
        margin-right: 11px;
    }
    .discover_imgbox2 {
        width: 46%;
        margin-left: 11px;
    }
    .discover_section .btn_explore {
        margin: 130px 0 0;
    }
    footer {
        padding: 0px 0 74px;
    }
    footer span {
        margin: 0 0 34px;
    }
    footer ul li a {
        font-size: 15px;
    }
    footer ul {
        gap: 18px;
    }
}

/* media query min-width:1441px and max-width:1919px */
@media(min-width:1441px) and (max-width:1919px){
    .nav-link {
        font-size: 15px;
    }
    .hero_bg {
        bottom: 12%;
    }
    .blog_section {
        padding: 140px 0 140px;
    }
    .playlist_section {
        padding: 184px 0 330px;
    }
    .playlist_imgbox {
        bottom: 12%;
    }
    .discover_section {
        padding: 108px 0 104px;
    }
    .discover_center_image {
        bottom: 21.8%;
        width: 290px;
    }
    .discover_imgbox1 {
        width: 46%;
        margin-right: 10px;
    }
    .discover_imgbox2 {
        width: 46%;
        margin-left: 10px;
    }
    .discover_section .btn_explore {
        margin: 130px 0 0;
    }
    footer {
        padding: 0px 0 68px;
    }

}

/* media query max-width:1399px */
@media(max-width:1399px){
    .hero_bg {
        bottom: 15%;
    }
    .img_height {
        margin: 25px auto;
    }
    .heading h1 {
        font-size: 37px;
    }
    .blog_section h1 {
        font-size: 37px;
    }
    .blog_imgbox {
        top: 10%;
    }
    .feature_section h1 {
        font-size: 37px;
    }
    .feature_box h4 {
        margin: 20px 0 12px;
    }
    .feature_imgbox {
        width: 40px;
        height: 40px;
    }
    .feature_bg {
        width: 608px;
        bottom: 6%;
    }
    .feature_box {
        margin: 0 0 48px;
    }
    .feature_phone {
        width: 65%;
    }
    .playlist_section {
        padding: 132px 0 238px;
    }
    .playlist_section h2 {
        font-size: 30px;
    }
    .artist_section p {
        padding: 0 218px;
    }
    .artist_wrapper p {
        padding: 0 !important;
    }
    .discover_section h2 {
        font-size: 30px;
    }
    .discover_section p {
        padding: 0 6px;
    }
    .discover_center_image {
        width: 250px;
    }
    .discover_imgbox1 {
        margin-right: 5px;
    }
    .discover_imgbox2 {
        margin-left: 5px;
    }
}

/* media query max-width:1199px */
@media(max-width:1199px){
    .navbar-brand {
        width: 170px;
    }
    .navbar-toggler-i {
        font-size: 30px;
    }
    .img_height {
        margin: 21px auto;
    }
    .heading h1 {
        font-size: 35px;
    }
    .blog_section h1 {
        font-size: 35px;
    }
    .blog_imgbox {
        top: 26%;
        width: 45%;
    }
    .blog_section {
        padding: 60px 0 70px;
    }
    .feature_section h1 {
        font-size: 35px;
    }
    .feature_phone {
        margin: 178px auto 0;
    }
    .feature_bg {
        width: 566px;
    }
    .feature_box h4 {
        font-size: 19px;
    }
    .playlist_section h2 {
        font-size: 28px;
    }
    .playlist_section {
        padding: 60px 0 102px;
    }
    .playlist_imgbox {
        bottom: 16%;
        width: 54%;
    }
    .artist_section {
        padding: 112px 0 88px;
    }
    .artist_section p {
        padding: 0 134px;
        margin: 0 0 34px;
    }
    .artist_wrapper p {
        margin: 0 0 0 14px !important;
    }
    .artist_carousel .owl-dots {
        margin: 46px 0 0;
    }
    .discover_center_image {
        width: 220px;
    }
    .discover_section {
        padding: 94px 0 90px;
    }
    .discover_imgbox1 {
        width: 45%;
    }
    .discover_imgbox2 {
        width: 45%;
    }
    .discover_section h2 {
        font-size: 28px;
    }
    .discover_section p {
        padding: 0;
        margin: 32px 0 130px;
    }
    .discover_center_image {
        bottom: 25%;
    }
    .discover_section .btn_explore {
        margin: 140px 0 0;
    }
}

/* media query max-width:991px */
@media(max-width:991px){
    .navbar-brand {
        width: 160px;
    }
    .navbar-toggler-i {
        font-size: 28px;
    }
    header {
        padding: 30px 0 40px;
    }
    .hero_imgbox {
        width: 100%;
    }
    .img_height {
        width: 90%;
        margin: 15px auto;
    }
    .hero_second_row {
        margin: 130px 0 0;
    }
    .heading h1 {
        font-size: 34px;
    }
    .blog_section h1 {
        font-size: 34px;
    }
    .blog_section {
        padding: 50px 0 50px;
    }
    .feature_section {
        padding: 60px 0 50px;
    }
    .feature_section h1 {
        font-size: 34px;
        margin: 0 0 70px;
    }
    .feature_phone {
        margin: 290px auto 0;
    }
    .feature_box {
        margin: 0 0 370px;
    }
    .feature_bg {
        bottom: 30.5%;
        width: 440px;
    }
    .playlist_imgbox {
        bottom: 24%;
    }
    .playlist_section {
        padding: 60px 0 70px;
    }
    .artist_section p {
        padding: 0 12px;
    }
    .discover_center_image {
        bottom: 25.5%;
        width: 170px;
    }
    .discover_imgbox1 {
        margin-right: 0px;
    }
    .discover_imgbox2 {
        margin-left: 0px;
    }
    .discover_section p {
        margin: 32px 0 108px;
    }
    .discover_section .btn_explore {
        margin: 100px 0 0;
    }
}

/* media query max-width:767px */
@media(max-width:767px){
    header {
        padding: 20px 0 50px;
    }
    .navbar-nav {
        margin-top: 30px;
    }
    .hide_mobile{
        display:none;
    }
    .hide_dsk{
        display:block;
    }
    .img_height {
        width: 90% !important;
    }
    .hero_imgbox {
        width: 100%;
    }
    .hero_btmimg {
        margin: 18px auto 0 !important;
    }
    .hero_second_row {
        margin: 115px 0 0;
    }
    .blog_section {
        padding: 450px 0 50px;
    }
    .blog_imgbox {
        width: 66%;
        top:6%
    }
    .feature_section h1 {
        margin: 0 0 64px;
    }
    .feature_section {
        padding: 34px 0 0px;
    }
    .feature_first_column {
        display: flex;
    }
    .feature_box {
        margin: 0 0 44px;
    }
    .feature_box p {
        padding-right: 10px;
    }
    .feature_phone {
        width: 40%;
        margin: 20px auto 100px;
    }
    .feature_bg {
        bottom: 28.6%;
        width: 500px;
    }
    .playlist_section {
        padding: 486px 0 66px;
    }
    .playlist_imgbox {
        top: 4%;
        width: 75%;
    }
    .playlist_section h2 {
        margin: 28px 0 24px;
    }
    .artist_section {
        padding: 70px 0 90px;
    }
    .artist_section p {
        padding: 0px;
    }
    .discover_section {
        padding: 70px 0 66px;
    }
    .discover_section p {
        margin: 24px 0 76px;
    }.discover_mbhide{
        display: none;
    }
    .discover_dskhide{
        display: block;
    }
    .discover_dskhide{
        display: flex;
    }
    .discover_col1 {
        display: flex;
        justify-content: center;
    }
    .discover_imgbox1 {
        width: 75%;
        margin: auto;
    }
    .discover_imgbox2 {
        width: 75%;
        margin: auto;
    }
    .discover_center_image {
        bottom: 14.4%;
        width: 230px;
    }
    .discover_section .btn_explore {
        margin: 530px 0 0;
    }
    footer ul {
        justify-content: center;
    }
    footer p {
        text-align: center;
        margin: 16px 0 0;
    }
    footer {
        padding: 0px 0 50px;
    }
}

/* media query max-width:575px */
@media(max-width:575px){
    .hero_imgbox {
        width: 90%;
    }
    .hero_bg {
        display: none;
    }
    .img_height {
        margin: 15px auto 30px;
    }
    .hero_btmimg {
        margin: 16px auto 0 !important;
    }
    .blog_imgbox {
        width: 80%;
    }
    .feature_section {
        padding: 34px 0 80px;
    }
    .feature_phone {
        width: 199px;
        margin: 60px auto 100px;
    }
    .feature_first_column {
        display: block;
    }
    .feature_bg {
        bottom: 33%;
        width: 464px;
    }
    .playlist_imgbox {
        top: 4%;
        width: 84%;
    }
    .playlist_section {
        padding: 442px 0 66px;
    }
    .discover_imgbox1 {
        text-align: center;
        margin-bottom: 40px;
    }
    .discover_imgbox2 {
        text-align: center;
    }
    .discover_center_image {
        bottom: 9%;
    }
}

@media(max-width:553px){
    .feature_bg {
        bottom: 34.4%;
    }
}

@media(max-width:524px){
    .feature_bg {
        bottom: 33.5%;
    }
}

/* media query max-width:425px */
@media(max-width:425px){
    .navbar-nav {
        margin-top: 40px;
    }
    .navbar-brand {
        width: 150px;
    }
    .img_height {
        margin: 22px auto;
    }
    .heading h1 {
        font-size: 30px;
    }
    .blog_imgbox {
        width: 88%;
        top: 4%;
    }
    .blog_section {
        padding: 362px 0 80px;
    }
    .blog_section h1 {
        font-size: 30px;
    }
    .feature_section {
        padding: 10px 0 80px;
    }
    .feature_section h1 {
        font-size: 30px;
        margin: 0 0 50px;
    }
    .feature_phone {
        width: 169px;
    }
    .feature_bg {
        bottom: 36.2%;
        width: 90%;
    }
    .playlist_section h2 {
        font-size: 26px;
    }
    .playlist_imgbox {
        width: 94%;
    }
    .playlist_section {
        padding: 366px 0 66px;
    }
    .discover_section h2 {
        font-size: 26px;
    }
    .discover_center_image {
        width: 196px;
    }
    .discover_section .btn_explore {
        margin: 456px 0 0;
    }
}

@media(max-width:382px){
    .feature_bg {
        bottom: 37.4%;
    }
}

/* media query max-width:375px */
@media(max-width:375px){
    .img_height {
        width: 100% !important;
    }
    .hero_imgbox {
        width: 100%;
    }
    .heading h1 {
        font-size: 28px;
    }
    .blog_imgbox {
        width: 96%;
        top: 2%;
    }
    .blog_section {
        padding: 312px 0 80px;
    }
    .blog_section h1 {
        font-size: 28px;
    }
    .feature_section h1 {
        font-size: 28px;
    }
    .feature_bg {
        bottom: 36.5%;
        width: 94%;
    }
    .feature_box {
        margin: 0 0 42px;
    }
    .feature_phone {
        width: 162px;
        margin-bottom: 70px;
    }
    .playlist_section h2 {
        font-size: 25px;
    }
    .playlist_section {
        padding: 340px 0 66px;
    }
    .discover_section h2 {
        font-size: 25px;
    }
    .discover_center_image {
        width: 188px;
    }
    .discover_section .btn_explore {
        margin: 430px 0 0;
    }
}

/* media query max-width:320px */
@media(max-width:320px){
    .img_height {
        margin: 16px auto;
    }
    .hero_btmimg {
        margin: 20px auto 0 !important;
    }
    .blog_section {
        padding: 280px 0 80px;
    }
    .feature_section h1 {
        margin: 0 0 40px;
    }
    .feature_section {
        padding: 10px 0 60px;
    }
    .feature_bg {
        bottom: 36.3%;
    }
    .playlist_section {
        padding: 304px 0 66px;
    }
    .discover_center_image {
        width: 51%;
    }
    .discover_section .btn_explore {
        margin: 362px 0 0;
    }
    footer ul {
        display: flex;
        list-style: none;
        gap: 9px;
    }
}








